@font-face
{
    font-family:'iransans';
    src:url(../../fonts/IRANSansWebFaNum.ttf) format('truetype'),
    url(../../fonts/IRANSansWebFaNum.eot),
    url(../../fonts/IRANSansWebFaNum.eot?#iefix) format("embedded-opentype"),
    url(../../fonts/IRANSansWebFaNum.woff) format("woff");
    font-weight: normal;
}

*
{
    font-family: 'iransans';
    font-size: 14px;
}

.small-box .icon>i
{
    left:15px;
    right:auto;
}
